.jumbotron {
    background: white;
    padding: 35px 0 5px;
    margin: 0;
    border-radius: 0px;
}

.countryDropdown .ms-Dropdown-container {
    float:right;
}

.geoclearance-status{
    background-color: #ba141a;
    padding: 2rem;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.bingmaps {
    height: 25rem;
}

.card-text {
    font-size: 9pt;
    line-height: 15pt;
    overflow: hidden;
    clear: both;
    padding-top: 5px;
    font-weight: 400;
    text-align: justify;
}

.card-body .text-white a {
    color: white;
    float:right;
    text-decoration: underline;
}

.card-body a {
    float:right;
    text-decoration: underline;
}

.card {
    border-radius: 0px;
}
