<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>{{this.selectedCountry.Title}}</h2>
                        </div>
                        <div class="col-sm-3 countryDropdown">
                        </div>
                        <geo-mat-dropdown   [InputCountryList]='countriesList'
                                            class="col-sm-3 countryDropdown"
                                            Title='Country'
                                            (OutputHandler)='searchLocationBingMap($event)'>
                        </geo-mat-dropdown>
                    </div>
                </div>
            </div>
    
            <div class="margin-top-20 row">
                <div class="col-sm-3">
                    <h6>Datacenter GeoClearance</h6>
                    <div class="geoclearance-status" [ngClass] = "{'nofly': this.selectedCountry.DatacenterGeoClearance == 'No Fly', 
                    'cleared': this.selectedCountry.DatacenterGeoClearance == 'Cleared',
                    'restricted': this.selectedCountry.DatacenterGeoClearance == 'Restricted',
                    'limited': this.selectedCountry.DatacenterGeoClearance == 'Limited',
                    'notassessed': this.selectedCountry.DatacenterGeoClearance == 'Not Assessed'}">{{this.selectedCountry.DatacenterGeoClearance}}</div>
                </div>
                <div class="col-sm-3">
                    <h6>Network GeoClearance</h6>
                    <div class="geoclearance-status" [ngClass] = "{'nofly': this.selectedCountry.EdgeGeoClearance == 'No Fly', 
                    'cleared': this.selectedCountry.EdgeGeoClearance == 'Cleared',
                    'restricted': this.selectedCountry.EdgeGeoClearance == 'Restricted',
                    'limited': this.selectedCountry.EdgeGeoClearance == 'Limited',
                    'notassessed': this.selectedCountry.EdgeGeoClearance == 'Not Assessed'}">{{this.selectedCountry.EdgeGeoClearance}}</div>
                </div>
                
                <div class="bingmaps col-sm-6" style="margin-bottom: 135px; padding-bottom: 15px;">
                    <div class='panel panel-primary' style="margin-bottom: 15px; padding-bottom: 15px;">
                        <div id='myMap' style='width: 100%; height: 500px;'></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="margin-top-20 margin-bottom-50 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                    <div>Assessment Status: In Progress</div>
                    <div>Completed Date: NA</div>
                    <div>Next assessment scheduled: {{this.selectedCountry.AssessmentSchedule}}</div>
                    </div>
                    <div class="text-right col-sm-6">
                    <div>Scope: {{this.selectedCountry.AssessmentScope}}</div>
                    <div>Owner: Tom Cochrane</div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="margin-top-20 col-sm-4" *ngFor="let form of this.formsFeedbackData" >
                        <div class="card" 
                        [ngClass] = "{'cleared': form.DataCenterRiskLevel == 'Low Risk', 
                        'limited': form.DataCenterRiskLevel == 'Medium Risk',
                        'restricted': form.DataCenterRiskLevel == 'High Risk',
                        'nofly': form.DataCenterRiskLevel == 'No Fly',
                        'notassessed': form.DataCenterRiskLevel == null}">
                            <div class="card-body">
                            <div class="card-title h5">{{form.TeamName}}</div>
                            <div class="mb-2 card-subtitle h6">{{form.DataCenterRiskLevel}}</div>
                            <div class="mb-2 card-subtitle h6">{{form.NetworkRiskLevel}}</div>
                            <div class="mb-2 card-subtitle h6">{{form.AssessmentStatus}}: {{form.CompletedDate | date: 'dd/MM/yyyy'}}</div>
                            <p class="card-text">{{form.FeedbackSummary}}</p><a class="card-link" (click)= this.openFeedbackForm(form)>View Form</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>