<div class="container-fluid">
    <br /><br />
    <h4>Country Intake</h4>
    <br />
    <br />
    <br />
  <div class="row">
    <div class="leftStyle  col-2">
      <mat-accordion multi="true"  >
        <mat-expansion-panel class="aaa" *ngFor="let left of leftItemOrginal" [expanded]=true (afterCollapse)="afterLeftRootCollapse(objectkeys(left))" (afterExpand)="afterLeftRootExpend(objectkeys(left))">
          <mat-expansion-panel-header  class="leftRootHeader">
            <mat-panel-title >
             <span class="leftHeadStyle">{{objectkeys(left)}}</span> 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div >
            <div *ngFor="let leftchildren of objectvalues(left)">
              <div *ngFor="let targetchildren of leftchildren" data-toggle="tooltip" title={{targetchildren.Owner.LookupValue}} class="leftchildren btn text-left btn-light list-group-item"  (click)="rightChildrenSelected(targetchildren)" >{{targetchildren.Owner.LookupValue}}</div>
            </div>     
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="rightStyle  col-9">
      <mat-toolbar class="container-fluid justify-content-between">
        <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
         <div class="btn-group mr-3" role="group" aria-label="First group" (click)="openIntakeForm(null)">
          <button class="inkatebutton material-icons">note_add</button>
        </div>
          <div class="btn-group mr-3" role="group" aria-label="First group" (click)="showALl()">
            <button class="inkatebutton">All Docuements  </button> 
          </div>
          <div class="btn-group mr-3" role="group" aria-label="First group">
            <button class="inkatebutton">My Items</button>
          </div>
        </div>
        <div>
          <div class="input-group">
              <input
              type="text"
              class="form-control align-middle"
              placeholder="Search"
              matInput
               (keyup)="applyFilter($event.target.value)"
              aria-label="Search"
              aria-describedby="btnGroupAddon2"
            />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary search-btn" type="button" (click)=applyFilter($event.target.value)><i class="material-icons">search</i></button>
              </div>
            </div>
        </div>
      </mat-toolbar>
      <div class="table-overflow">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 table-hover"
        (matSortChange)="sortData($event)"
      >
        <!-- ID Column -->
        <ng-container matColumnDef="ID">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header='FormId'>ID.</th>
          <td mat-cell *matCellDef="let element">{{ element.FormId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='FormName'>Name</th>
          <td mat-cell *matCellDef="let element" ><div class=" btn btn-link namestyle" (click)="openIntakeForm(element)">{{ element.MyFields.FormName }}</div></td>
        </ng-container>

        <!-- AssessmentStatus Column -->
        <ng-container matColumnDef="AssessmentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='AssessmentStatus'>
            Assessement Status
          </th>
          <td mat-cell *matCellDef="let element">{{ element.AssessmentStatus }}</td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="Priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='Priority'>Priority</th>
          <td mat-cell *matCellDef="let element">{{ element.MyFields.Section1details.Priority }}</td>
        </ng-container>

        <!-- Scope Column -->
        <ng-container matColumnDef="Scope">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='Scope'>Scope</th>
          <td mat-cell *matCellDef="let element">{{ element.MyFields.Section1details.Scope }}</td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='Country'>Country</th>
          <td mat-cell *matCellDef="let element">{{ element.MyFields.Section1details.Country }}</td>
        </ng-container>

        <!-- Territory Column -->
        <ng-container matColumnDef="Territory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='Territory'>Territory</th>
          <td mat-cell *matCellDef="let element">{{ element.MyFields.Territory }}</td>
        </ng-container>

        <!-- Data -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      </table>
    </div>
    </div>
  </div>
</div>


