
.leftchildren{
    line-height: 150%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leftHeadStyle{
    font-size: 16px;
}
.leftchildren:hover{
    background-color: rgb(244, 244, 244)
}
.leftStyle{
    width:220px;
    margin-left: 10px;
}
.rightStyle{
    /* min-width: 4000px; */
     overflow-x:auto;
}
/* .mat-column-Scope{
    width:400px;
} */

table{
    width: 100%;
    
   
   }

.inkatebutton{
height: 100%;
background-color: #f5f5f5;
border:none;
}
.leftRootHeader{
    background-color:  rgb(244, 244, 244)
}
.namestyle{
    font-size: 14px;
}
/* .leftRootHeader:hover{
    background-color:  rgb(244, 244, 244)
} */
.searchIcon{margin-top: 0.7vh}
/* .mat-expansion-panel-content.ng-trigger.ng-trigger-bodyExpansion */
