<mat-form-field class="geo-mat-datepicker">
    <input  matInput 
            [matDatepicker]="picker" 
            [placeholder]="DatepickerLabel" 
            (dateInput)="onDateChange($event)"
            (dateChange)="onDateChange($event)"
            [required]="IsRequired"
            [disabled]="IsDisabled"
            [matTooltip]="ToolTip"
            matTooltipClass="mat-tooltip-class"
            [value]="Value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>
  