<div>
  
  <div class="home-jumbotron jumbotron">
    <div class="container">
      <div class="row">
        <div class="welcome col-lg-5">
          <h2>Hi Venkata Giridhar Maddi (Zen3 Infosolutions America Inc), Welcome to the Geo Hosting Portal</h2>
          <p class="lead mt-3">Portal provides software and tools that help the Geo Hosting organization achieve their mission of growing the Geo Hosting business.</p>
        </div>
        <div class="d-lg-block col">
          <img class="img-fluid" src="https://microsoft.sharepoint.com/teams/cloudweb/mcio/geohosting/PublishingImages/All%20Microsoft/DatacenterGeoClearanceMap.jpg?ctag=190530">
        </div>
      </div>
    </div>
  </div>
  <div class="geoclearance-container">
    <div class="container">
      <nav class="nav nav-tabs" role="tablist">
        <a href="#geohosting-tab-tabpane-datageoclearance" role="tab" data-toggle="tab" id="geohosting-tab-tab-datageoclearance" aria-controls="geohosting-tab-tabpane-datageoclearance" aria-selected="true" class="nav-item nav-link active">Datacenter GeoClearance</a>
        <a href="#geohosting-tab-tabpane-networkgeoclearance" role="tab" data-toggle="tab" id="geohosting-tab-tab-networkgeoclearance" aria-controls="geohosting-tab-tabpane-networkgeoclearance" aria-selected="false" class="nav-item nav-link" >Network GeoClearance</a>
        <a href="#geohosting-tab-tabpane-geoclearance" role="tab" data-toggle="tab" id="geohosting-tab-tab-geoclearance" aria-controls="geohosting-tab-tabpane-geoclearance" aria-selected="false" class="nav-item nav-link" >Geo Clearance</a>
      </nav>
      <div class="tab-content">
        <div id="geohosting-tab-tabpane-datageoclearance" aria-labelledby="geohosting-tab-tab-datageoclearance" role="tabpanel" class="tab-pane active">
          <img src="https://microsoft.sharepoint.com/teams/cloudweb/mcio/geohosting/PublishingImages/All%20Microsoft/DatacenterGeoClearanceMap.jpg?ctag=190602">
        </div>
        <div id="geohosting-tab-tabpane-networkgeoclearance" aria-labelledby="geohosting-tab-tab-networkgeoclearance" role="tabpanel"  class="tab-pane">
          <img src="https://microsoft.sharepoint.com/teams/cloudweb/mcio/geohosting/PublishingImages/NetworkGeoClearanceMap.jpg?ctag=190602">
        </div>
        <div id="geohosting-tab-tabpane-geoclearance" aria-labelledby="geohosting-tab-tab-geoclearance" role="tabpanel"  class="tab-pane">
          <h2>Geo Clearance Details</h2>
          <div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Country / Region</th>
                    <th>Datacenter GeoClearance</th>
                    <th>Network GeoClearance</th>
                    <th>Territory</th>
                    <th>ROC Region</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of CountriesList">
                  <tr>
                    <td>
                      <a [routerLink]="['/geoclearance', item.Title]">{{item.Title}}</a>
                    </td>
                    <td [ngClass] = "{'nofly': item.DatacenterGeoClearance == 'No Fly', 
                                      'cleared': item.DatacenterGeoClearance == 'Cleared',
                                      'restricted': item.DatacenterGeoClearance == 'Restricted',
                                      'limited': item.DatacenterGeoClearance == 'Limited'}">{{item.DatacenterGeoClearance}}</td>
                    <td [ngClass] = "{'nofly': item.EdgeGeoClearance == 'No Fly', 
                                      'cleared': item.EdgeGeoClearance == 'Cleared',
                                      'restricted': item.EdgeGeoClearance == 'Restricted',
                                      'limited': item.EdgeGeoClearance == 'Limited'}">{{item.EdgeGeoClearance}}</td>
                    <td>{{item.Territory}}</td>
                    <td>{{item.Region}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="geohosting-indicators">
        <p>The GeoHosting Team assigns each country/region a GeoClearance Status based on that market's Country GAP results and any additional off-cycle information.</p>
        <div class="row">
          <div class="col-lg-3">
            <h5 class="cleared">Cleared</h5>
            <p>Online services can be hosted in this country/region.</p>
          </div>
          <div class="col-lg-3">
            <h5 class="limited">Limited</h5>
            <p>Online services may be hosted in this country/region subject to some limiting conditions.</p>
          </div>
          <div class="col-lg-3">
            <h5 class="restricted">Restricted</h5>
            <p>Online services may be hosted in this country/region subject to major restrictions. GeoHosting must specifically approve each service and deployment.</p>
          </div>
          <div class="col-lg-3">
            <h5 class="nofly">No Fly</h5>
            <p>Online services cannot be hosted in this country/region.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
