<div class="cela-dialog">
    <div class="header text-center  flex-xs-middle ">
        <span>Physical Security</span>
        <button class="material-icons close-icon " (click)="onCloseDialog($event)">
          close
        </button>
        <div>{{ titleCountry }}</div>
      </div>
  
    <div class="cela-content"> 
      <form>
        <div class="container-data">
          <div class="row">
            <div class="col-sm-6">
              <p>
                <span>GeoHosting Owner: </span>
                <span>{{ Owner }}</span>
              </p>
              <p>
                <span>Scope: </span>
                <span>{{ Scope }}</span>
              </p>
              <p>
                <span>Assigned To: </span>
                <span>{{ Assigned }}</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <span>Due Date: </span>
                <span>3/25/2016</span>
              </p>
              <p>
                <span>Priority: </span>
                <span>{{ Priority }}</span>
              </p>
              <p>
                <span>Completed Date: </span>
                <span>5/31/2016</span>
              </p>
            </div>
          </div>
        </div>
            
            <mat-card>
                <mat-card-header>
                    <h6>Summary</h6>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-4">
                            <geo-mat-dropdown 
                              [Title]="summaryRiskLevel"
                                [InputTextArray]="riskLevels"
                                (OutputHandler)="onRiskLevel($event)"
                                [SelectedValue]="RiskLevel">

                            </geo-mat-dropdown>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                    <geo-mat-textarea   [labelTextAreaSummary]="feedbackSummaryLabel"
                                        (summary)="onFeedbackSummary($event)"
                                        [input]="FeedbackSummary">
                    </geo-mat-textarea>

                    <geo-mat-textarea   [labelTextAreaSummary]="securityDetailsAndInquiriesLabel"
                                        (summary)="onSecurityIssues($event)"
                                        [input]="SecurityIssues">
                                        
                    </geo-mat-textarea>

                    <geo-mat-textarea   [labelTextAreaSummary]="physicalSecurityRiskLevelDefinitionLabel"
                                        (summary)="onTravelWarningSection($event)"
                                        [input]="TravelWarningSection">
                                       
                    </geo-mat-textarea>


                    <mat-label>Are there any country-specific Action Items or Next Steps?</mat-label>
                    <div class="row">
                        <div class="specific-action">
                            <div class="row specific-items" *ngFor="let site of specificActionSites">
                                <div class="col-sm-6">
                                    <geo-mat-input  [labelGeoInput]="actionItemScpecificSummaryInputLabel"
                                                    [input]="site.actionItem"
                                                    (output)="onActionItemHandler($event)"
                                                    name="actionItemInput">
                                    </geo-mat-input>
                                </div>
                                <div class="col-sm-4">
                                    <geo-mat-textarea   [labelTextAreaSummary]="detailsSpecificSummaryTextareaSummaryLabel"
                                                        [toolTip]="matSpecificSummaryTextAreaTooltip"
                                                        [input]="site.details"
                                                        (summary)="onFeedbackSummaryHandler($event)"
                                                        name="detailsSummaryTextarea">
                                    </geo-mat-textarea>
                                </div>
                                <div class="col-sm-2">
                                    <geo-mat-input  [labelGeoInput]="contactsSpecificSummaryLabel"
                                                    [input]="site.contacts"
                                                    (output)="onContactsHandler($event)"
                                                    name="contactsInput">
                                    </geo-mat-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button mat-button (click)="addonCurrentportfoliosite($event)">
                           Add another site
                        </button>
                        <div class="col-sm-6"></div>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <h6>Details</h6>
                </mat-card-header>
                <mat-card-content>
                    <geo-mat-textarea   
                        [labelTextAreaSummary]="physicalSecurityRiskLevelLabel"
                        (summary)="onDepartTravelWarning($event)"
                        [input]="DepartTravelWarning">                       
                    </geo-mat-textarea>
                    <div>
                        <section class="checkbox-details-section">
                            <label class="checkbox-margin">U.S. State Department Travel Advisory Level (2-4)</label>
                            <mat-radio-group [(ngModel)]="MicrosoftHeadCount" name="MicrosoftHeadCount">
                                <mat-radio-button color="primary" class="checkbox-margin" value="Yes">Yes</mat-radio-button>
                                <mat-radio-button color="primary" class="checkbox-margin" value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                    <geo-mat-textarea   
                        [labelTextAreaSummary]="applicableBaselineSecurityRequirementsLabel"
                        (summary)="onBaselineSecurityRequirements($event)"
                        [input]="BaselineSecurityRequirements">
                       
                    </geo-mat-textarea> 
                    
                        <geo-mat-textarea   
                        [labelTextAreaSummary]="physicalSecurityPointofContactLabel"
                        (summary)="onphysicalSecurityPointofContactLabel($event)"
                        [input]="PhysicalSecurityPointofContactName">
                        
                    </geo-mat-textarea> 
                 
                    <div>
                        <p>
                            <span>
                                <b>Note </b>
                                <i>- Notify Datacenter Physical Security POC of the proposed project site(s) 
                                    as soon as possible so that site specific reviews can be conducted prior 
                                    to  site selection approval.</i>
                            </span>
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
    
            <mat-checkbox color="primary" [(ngModel)]="checkBox" name="chackedRisk">No changes in the risk level and Action Item</mat-checkbox>

            <div class="cela-actions">
                <geo-action
                [IsCloseButton]="true"
                (CloseAction)="onCloseDialog()"
                ActionButtonText="Save"
                CloseButtonText="Cancel"
                [IsActionButton]="showSave"
                (GeoAction)="onSave()"
              >
              </geo-action>
            </div>
        </form>
    </div>
</div>
