<div class="cela-dialog">
    <div class="cela-header">
        <div>
            {{dialogConfig.title}}
        </div>
        <div>
            {{dialogConfig.country}}
        </div>
    </div>

    <div class="cela-content">
        <form>
            <div class="container-data">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <span>GeoHosting Owner: </span>
                            <span>{{dialogConfig.user.owner}}</span>
                        </p>
                        <p><span>Scope: </span>
                            <span>{{dialogConfig.user.scope}}</span>
                        </p>
                        <p>
                            <span>Assigned To: </span>
                            <span>{{dialogConfig.user.scope}}</span>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <span>Due Date: </span>
                            <span>{{dialogConfig.user.dueDate}}</span>
                        </p>
                        <p>
                            <span>Priority: </span>
                            <span>{{dialogConfig.user.priority}}</span>
                        </p>
                        <p>
                            <span>Completed Date: </span>
                            <span>{{dialogConfig.user.completedDate}}</span>
                        </p>
                    </div>
                </div>
            </div>
            
            <mat-card>
                <mat-card-header>
                    <h6>Summary</h6>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-4">
                            <geo-mat-dropdown   [Title]="summaryRiskLevel"
                                                [InputTextArray]="riskLevels"
                                                (OutputHandler)="onPhysicalSecurityRiskLevelHandler($event)"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                    
                    <geo-mat-textarea>
                        
                    </geo-mat-textarea>


                    <geo-mat-textarea   [labelTextAreaSummary]="feedbackSummaryLabel"
                                        (summary)="onFeedbackSummaryHandler($event)">
                    </geo-mat-textarea>

                    <geo-mat-textarea   [labelTextAreaSummary]="securityDetailsAndInquiriesLabel"
                                        (summary)="onFeedbackSummaryHandler($event)">
                    </geo-mat-textarea>

                    <geo-mat-textarea   [labelTextAreaSummary]="physicalSecurityRiskLevelDefinitionLabel"
                                        (summary)="onFeedbackSummaryHandler($event)">
                    </geo-mat-textarea>


                    <mat-label>Are there any country-specific Action Items or Next Steps?</mat-label>
                    <div class="row">
                        <div class="specific-action">
                            <div class="row specific-items" *ngFor="let site of specificActionSites">
                                <div class="col-sm-6">
                                    <geo-mat-input  [labelGeoInput]="actionItemScpecificSummaryInputLabel"
                                                    [input]="site.actionItem"
                                                    (output)="onActionItemHandler($event)"
                                                    name="actionItemInput">
                                    </geo-mat-input>
                                </div>
                                <div class="col-sm-4">
                                    <geo-mat-textarea   [labelTextAreaSummary]="detailsSpecificSummaryTextareaSummaryLabel"
                                                        [toolTip]="matSpecificSummaryTextAreaTooltip"
                                                        [input]="site.details"
                                                        (summary)="onFeedbackSummaryHandler($event)"
                                                        name="detailsSummaryTextarea">
                                    </geo-mat-textarea>
                                </div>
                                <div class="col-sm-2">
                                    <geo-mat-input  [labelGeoInput]="contactsSpecificSummaryLabel"
                                                    [input]="site.contacts"
                                                    (output)="onContactsHandler($event)"
                                                    name="contactsInput">
                                    </geo-mat-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                                <button class="coll-sm-6" 
                                        mat-button 
                                        (click)="onAddSite()" 
                                        class="add-site-button"
                                        matTooltip="Please include only country-specific action items. Standard process should be documented and implemented separately."
                                        matTooltipPosition="after"><i class="material-icons">keyboard_arrow_down</i>Add another site
                                </button>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <h6>Details</h6>
                </mat-card-header>
                <mat-card-content>
                    <geo-mat-textarea   
                        [labelTextAreaSummary]="physicalSecurityRiskLevelLabel"
                        (summary)="onFeedbackSummaryHandler($event)">
                    </geo-mat-textarea>
                    <div>
                        <section class="checkbox-details-section">
                            <label class="checkbox-margin">U.S. State Department Travel Advisory Level (2-4)</label>
                            <mat-radio-group [(ngModel)]="stateDepartmentTravelAdvisoryLevelCheckBox">
                                <mat-radio-button color="primary" class="checkbox-margin" value="Yes">Yes</mat-radio-button>
                                <mat-radio-button color="primary" class="checkbox-margin" value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                    <geo-mat-textarea   
                        [labelTextAreaSummary]="applicableBaselineSecurityRequirementsLabel"
                        (summary)="onFeedbackSummaryHandler($event)">
                    </geo-mat-textarea> 
                    <div class="row">
                        <div class="col-sm-4">Physical Security Point of Contact</div>
                        <div class="col-sm-8">
                            <geo-mat-input  [labelGeoInput]="physicalSecurityPointofContactLabel"
                                            [input]=""
                                            (output)="onFeedbackSummaryHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>
                    <div>
                        <p>
                            <span>
                                <b>Note </b>
                                <i>- Notify Datacenter Physical Security POC of the proposed project site(s) 
                                    as soon as possible so that site specific reviews can be conducted prior 
                                    to  site selection approval.</i>
                            </span>
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
    
            <mat-checkbox color="primary" [(ngModel)]="checkBox" name="chackedRisk">No changes in the risk level and Action Item</mat-checkbox>

            <div class="cela-actions">
                <geo-action [IsCloseButton]="true"
                            (CloseAction)="onCloseDialog()">
                </geo-action>
            </div>
        </form>
    </div>
</div>
