<div class="cela-dialog">
  <div class="cela-header">
      <div>
          {{dialogConfig.title}}
      </div>
      <div>
          {{dialogConfig.country}}
      </div>
  </div>

  <div class="cela-content">
      <form >
          <div class="container-data">
              <div class="row">
                  <div class="col-sm-6">
                      <p>
                          <span>GeoHosting Owner: </span>
                          <span>Tom</span>
                      </p>
                      <p><span>Scope: </span>
                          <span>Full</span>
                      </p>
                      <p>
                          <span>Assigned To: </span>
                          <span>Alessandra Reyes (CELA)</span>
                      </p>
                  </div>
                  <div class="col-sm-6">
                      <p>
                          <span>Due Date: </span>
                          <span>3/25/2016</span>
                      </p>
                      <p>
                          <span>Priority: </span>
                          <span>2-Medium</span>
                      </p>
                      <p>
                          <span>Completed Date: </span>
                          <span>5/31/2016</span>
                      </p>
                  </div>
              </div>
          </div>

          <mat-card>
              <mat-card-header>
                  <h6>Summary</h6>
              </mat-card-header>

              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-5">
                          <geo-mat-dropdown
                              [InputTextArray]="riskLevels"
                              Title="inputTitle"
                              (OutputHandler)="onRiskLevelHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-1"></div>
                      <div class="col-sm-5">
                          <geo-mat-dropdown
                              [InputTextArray]="riskLevels"
                              [Title]="inputTitle"
                              (OutputHandler)="onRiskLevelHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-1"></div>
                  </div>

                  <geo-mat-textarea   [labelTextAreaSummary]="labelTextAreaSummary"
                                  (summary)="onSummary($event)">
                  </geo-mat-textarea>

                  <mat-label>Are there any country-specific Action Items or Next Steps?</mat-label>
                  <div class="row">
                      <div class="specific-action">
                          <div class="row specific-items" *ngFor="let site of specificActionSites">
                              <div class="col-sm-3">
                                  <geo-mat-input  [labelGeoInput]="actionItemLabel"
                                              [input]="site.actionItem"
                                              (output)="onActionItemHandler($event)"
                                              name="actionItemInput">
                                  </geo-mat-input>
                              </div>
                              <div class="col-sm-6">
                                  <geo-mat-textarea   [labelTextAreaSummary]="detailsSpecific"
                                                  [input]="site.details"
                                                  (summary)="onSummary($event)"
                                                  name="detailsSummaryTextarea">
                                  </geo-mat-textarea>
                              </div>
                              <div class="col-sm-3">
                                  <geo-mat-input  [labelGeoInput]="contactsSummary"
                                              [input]="site.contacts"
                                              (output)="onContactsHandler($event)"
                                              name="contactsInput">
                                  </geo-mat-input>
                              </div>
                          </div>
                      </div>
                  </div>
              </mat-card-content>
              <button mat-button (click)="onAddSite()">Add another site</button>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Details</h6>
              </mat-card-header>

              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [InputTextArray]="cpiRaiting"
                              [Title]="CPIRaitingTitle"
                              (OutputHandler)="onCPIRaintingHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8"></div>
                  </div>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>License Requirements for Terrestrial Fiber</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onCPIRaintingHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8"></div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onSummaryLicense($event)">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Global Network Initiative (GNI)</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="FreedomRaitingTitle"
                              [InputTextArray]="freedomRaiting"
                              (OutputHandler)="onFreedom($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-2"></div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Law Enforcement Compliance</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Privacy</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Data Security</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Media / Content Liability</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                  <h6>Telecommunications</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>
          
          <mat-card>
              <mat-card-header>
                  <h6>Pending Laws or Regulations</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card> 

          <mat-card>
              <mat-card-header>
                  <h6>Data Residency Regulations</h6>
              </mat-card-header>
              <mat-card-content>
                  <div class="row">
                      <div class="col-sm-4">
                          <geo-mat-dropdown
                              [Title]="risk"
                              [InputTextArray]="riskLevels"
                              (OutputHandler)="onFreeRiskHandler($event)">
                          </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-8">
                      </div>
                  </div>
                  <geo-mat-textarea   
                      [labelTextAreaSummary]="summary"
                      (summary)="onFormHandler($event, 'GlobalNetworkSummary')">
                  </geo-mat-textarea>
              </mat-card-content>
          </mat-card>

          <mat-checkbox color="primary" [(ngModel)]="checkBox" name="chackedRisk">No changes in the risk level and Action Item</mat-checkbox>

          <div class="cela-actions">
            <geo-action [IsCloseButton]="true"
                        (CloseAction)="onCloseDialog()">
              </geo-action>
          </div>
          
      </form>
  </div>
</div>