<!-- The content below is only a placeholder and can be replaced. -->

<button mat-button (click)="openCelaFeedbackComponentDialog()">CELAFeedback Dialog</button>
<button mat-button (click)="openGeoPhysicalSecurityFeedbackDialogComponent()">Physical Security Feedback</button>
<button mat-button (click)="openRiskManagementFeedbackDialogComponent()">Country Risk Feedback</button>
<button mat-button (click)="openFeedbackFormDialogComponent()">Feedback Tasks Form Dialog</button>

<router-outlet></router-outlet>
