<div>
  <div class="header text-center  flex-xs-middle ">
    <span>GeoHosting Country Assessment</span>
    <button class="material-icons close-icon " (click)="close($event)">
      close
    </button>
    <div>Intake Form</div>
  </div>
  <form
    (ngSubmit)="onSubmit(heroForm.value)"
    #heroForm="ngForm"
    class="formstyle"
  >
    <div class="container-fluid">
      <h4>Summary</h4>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="selectedCountry" name="country">
              <mat-option
                *ngFor="let country of countryList"
                [value]="country.Title"
              >
                {{ country.Title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 ">
          <label class="prorityLabelStyle" id="prority-radio-group-label"
            >Prority :</label
          >
          <mat-radio-group
            aria-labelledby="prority-radio-group-label"
            [(ngModel)]="prorityChoice"
            name="prority"
          >
            <mat-radio-button
              class="radiostyle"
              *ngFor="let prority of prorityList"
              [value]="prority.Value"
            >
              {{ prority.Value }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Scope</mat-label>
            <mat-select [(ngModel)]="selectedScope" name="scope">
              <mat-option *ngFor="let scope of ScopeList" [value]="scope.Value">
                {{ scope.Value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label
              data-toggle="tooltip"
              title="Why are we assessing this market(e.g. consideration for a APAC Hub site, Refresh, GoLocal initiative)"
            >
              Why are we assessing this market?
              <small class="text-sm text-muted">
                (e.g. consideration for a APAC Hub site, Refresh, Go Local
                initiative)
              </small></mat-label
            >
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="Justification"
              name="Justification"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label> Admin Comments</mat-label>
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="adminComments"
              name="adminComments"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <h4>Portfolio</h4>
      <small className="text-sm">
        Current portfolio -
        <small class="text-muted">
          Operational sites in this market
        </small>
      </small>
      <div class="row">
        <div class="col">
          <table
            mat-table
            [dataSource]="currentPortfoliodataSource"
            class="mat-elevation-z0 table-width "
          >
            <!-- DcCode Column -->
            <ng-container matColumnDef="DcCode">
              <th mat-header-cell *matHeaderCellDef>DcCode</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input 
                    matInput
                    [(value)] = "element.CurrentPortfolioDCcode"
                    name="element.CurrentPortfolioDCcode"
                   
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Facility Type Column -->
            <ng-container matColumnDef="FacilityType">
              <th mat-header-cell *matHeaderCellDef>Facility Type</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(value)]="element.CurrentPortFacilitytype"
                    name="element.CurrentPortFacilitytype"
                  >
                    <mat-option
                      *ngFor="let Facility of FacilityType"
                      [value]="Facility.Value"
                    >
                      {{ Facility.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Operational Taxonomy Column -->
            <ng-container matColumnDef="OperationalTaxonomy">
              <th mat-header-cell *matHeaderCellDef>Operational Taxonomy</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(value)]="element.CurrentPortOperationalTax"
                    name="element.CurrentPortOperationalTax"
                  >
                    <mat-option
                      *ngFor="let Operational of OperationalTaxonomy"
                      [value]="Operational.Value"
                    >
                      {{ Operational.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Current IT Capacity Column -->
            <ng-container matColumnDef="CurrentITCapacity">
              <th mat-header-cell *matHeaderCellDef>Current IT Capacity</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.CurrentPortEstimatedSize"
                    name="element.CurrentPortEstimatedSize"
                  />
                </mat-form-field></td
            ></ng-container>

            <!-- Estimated IT Capacity in 5 years Column -->
            <ng-container matColumnDef="EstimatedITCapacityin5years">
              <th mat-header-cell *matHeaderCellDef>
                Estimated IT Capacity in 5 years
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.CurrentITCapacity"
                  name="element.CurrentITCapacity"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="CurrentportfoliodisplayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: CurrentportfoliodisplayedColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div (click)="addonCurrentportfoliosite()">
        <i class="material-icons">arrow_drop_down</i>Add another site
      </div>
      <div class="blankrow"></div>

      <small className="text-sm">
        In progress sites -
        <small class="text-muted">
          Sites in this market have a Phase of In Progress or later, but not yet
          Operational.
        </small>
      </small>

      <div class="row">
        <div class="col">
          <table
            mat-table
            [(dataSource)]="currentInprogresssitesdataSource"
            class="mat-elevation-z0 table-width progresssitesstyle"
          >
            <!-- DcCode Column -->
            <ng-container matColumnDef="DcCode">
              <th mat-header-cell *matHeaderCellDef>DcCode</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.InProgSitesDCcode"
                    name="a"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Facility Type Column -->
            <ng-container matColumnDef="FacilityType">
              <th mat-header-cell *matHeaderCellDef>Facility Type</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(value)]="element.InProgFacilityType"
                    name="element.InProgFacilityType"
                  >
                    <mat-option
                      *ngFor="let Facilit of FacilityType"
                      [value]="Facilit.Value"
                    >
                      {{ Facilit.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Operational Taxonomy Column -->
            <ng-container matColumnDef="OperationalTaxonomy">
              <th mat-header-cell *matHeaderCellDef>Operational Taxonomy</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(value)]="element.InProgOperationalTax"
                    name="element.DcCode"
                  >
                    <mat-option
                      *ngFor="let Operational of OperationalTaxonomy"
                      [value]="Operational.Value"
                    >
                      {{ Operational.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Current IT Capacity Column -->
            <ng-container matColumnDef="CurrentITCapacity">
              <th mat-header-cell *matHeaderCellDef>Current IT Capacity</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.InProgInitialSize"
                    name="element.InProgInitialSize"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Estimated IT Capacity in 5 years Column -->
            <ng-container matColumnDef="EstimatedITCapacityin5years">
              <th mat-header-cell *matHeaderCellDef>
                Estimated IT Capacity in 5 years
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.InProgEstimatedSize"
                    name="element.InProgEstimatedSize"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Estimated Investment Column -->
            <ng-container matColumnDef="EstimatedInvestment">
              <th mat-header-cell *matHeaderCellDef>Estimated Investment</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.InProgEstimatedInvestment"
                    name="element.InProgEstimatedInvestment"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Estimatedgo-live date Column -->
            <ng-container matColumnDef="Estimatedgolivedate">
              <th mat-header-cell *matHeaderCellDef>Estimatedgo-live date</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(value)]="element.InProgEstimatedGoLive"
                    name="element.InProgEstimatedGoLive"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="InprogresssitesdisplayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: InprogresssitesdisplayedColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div>
        <div (click)="addonInprogresssitessite()">
          <i class="material-icons">arrow_drop_down</i>Add another site
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label
              data-toggle="tooltip"
              title="Proposed sites - Sites that are currently still tentative or under investigation. Include all regions or cities of interest."
            >
              Proposed sites -
              <small class="text-sm text-muted">
                Sites that are currently still tentative or under investigation.
                Include all regions or cities of interest.
              </small></mat-label
            >
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="ProposedSites"
              name="ProposedSites"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label> Other portfolio comments</mat-label>
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="PortfolioComments"
              name="PortfolioComments"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <h4>Target Customers</h4>
      <small className="text-sm">
        What Online Services are hosted in this market ?
        <small class="text-muted">
          Online services as defined by the Business Relationship Hierarchy
          (BRH)
        </small>
      </small>
      <div class="row">
        <div class="col">
          <table
            mat-table
            [(dataSource)]="TargetFirstTableDatasource"
            class="mat-elevation-z0 table-width"
          >
            <!-- Current Column -->
            <ng-container matColumnDef="Current">
              <th mat-header-cell *matHeaderCellDef>Current</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="CurrentOnlineSvr"
                    name="CurrentOnlineSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Planned Type Column -->
            <ng-container matColumnDef="Planned">
              <th mat-header-cell *matHeaderCellDef>Planned</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="PlannedOnlineSvr"
                    name="PlannedOnlineSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Proposed Column -->
            <ng-container matColumnDef="Proposed">
              <th mat-header-cell *matHeaderCellDef>Proposed</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="ProposedOnlineSvr"
                    name="ProposedOnlineSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="TargetFirstdisplayColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: TargetFirstdisplayColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div class="blankrow"></div>
      <div class="blankrow"></div>
      <div class="blankrow"></div>
      <small className="text-sm">
        What other services are hosted in this market ?
        <small class="text-muted">
          i.e. not defined by the Business Relationship Hierarchy (BRH)
        </small>
      </small>
      <div class="row">
        <div class="col">
          <table
            mat-table
            [(dataSource)]="TargetSecondTableDatasource"
            class="mat-elevation-z0 table-width"
          >
            <!-- Currrent Column -->
            <ng-container matColumnDef="Current">
              <th mat-header-cell *matHeaderCellDef>Current</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="CurrentOtherSvr"
                    name="CurrentOtherSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Planned Column -->
            <ng-container matColumnDef="Planned">
              <th mat-header-cell *matHeaderCellDef>Planned</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="PlannedOtherSvr"
                    name="PlannedOtherSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Proposed Column -->
            <ng-container matColumnDef="Proposed">
              <th mat-header-cell *matHeaderCellDef>Proposed</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="matfieldstyle">
                  <input
                    matInput
                    [(ngModel)]="ProposedOtherSvr"
                    name="ProposedOtherSvr"
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="TargetSeconddisplayColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: TargetSeconddisplayColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label
              >Are there any known data sovereignty or data residency
              requirements?
            </mat-label>
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="DataRequirements"
              name="DataRequirements"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label>
              Are there any maximum latency requirements (in round trip time to
              customers)?</mat-label
            >
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="Latency"
              name="Latency"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label>
              Where are the customers or end users for these
              datacenters?</mat-label
            >
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="ServiceTargets"
              name="ServiceTargets"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label
              >Do we expect the data to cross state or country borders at any
              point in its delivery to customers?</mat-label
            >
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="CrossBorderDataFlows"
              name="CrossBorderDataFlows"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6 textareastyle">
          <mat-form-field>
            <mat-label> Additional customer/service comments</mat-label>
            <textarea
              matInput
              cdkAutosizeMinRows="4"
              [(ngModel)]="CustomerComments"
              name="CustomerComments"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="footer  ">
        <button
          type="submit"
          class="float-right btn btn-light footbutton"
          (click)="makeCopy()"
        >
          Make a Copy
        </button>
        <button
          type="submit"
          class="float-right btn btn-light footbutton"
          (click)="close($event)"
        >
          Save and Close
        </button>
        <button type="submit" class="float-right btn btn-light footbutton">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
