<div class="cela-dialog">
    <div class="cela-header">
        <div>
            {{dialogConfig.title}}
        </div>
        <button class="material-icons close-icon " (click)="close($event)">close</button>
        <div>
            {{dialogConfig.country}}
        </div>
    </div>

    <div class="cela-content">
        <form>

            <mat-card>
        
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  [labelGeoInput]="taskNameLabel"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="raskSatusLabel"
                                                [InputTextArray]="riskLevels"
                                                SelectedValue="No Fly"
                                                ToolTip="Select an option"
                                                (OutputHandler)="onPhysicalSecurityRiskLevelHandler($event)"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Assigned To:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            ToolTip="Enter names or email addresses..."
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-datepicker DatepickerLabel="Birthday of Date:"
                                                [Value]="tempDate"
                                                ToolTip="click to select date"
                                                (OnSelectectDate)="onDateHandler($event)">
                            </geo-mat-datepicker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-datepicker DatepickerLabel="Completed Date:"
                                                [Value]="tempDate"
                                                ToolTip="click to select date"
                                                (OnSelectectDate)="onDateHandler($event)">
                            </geo-mat-datepicker>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Priority:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Scope:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Priority:"
                                            [input]="showvalue"
                                            ToolTip="Enter a name of email address..."
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Country:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Team:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="WorkflowReminder:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="DataCenter GeoClearance Risk Level:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="Network GeoClearance Risk Level:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-input  labelGeoInput="StatusFlag:"
                                            [input]="showvalue"
                                            (output)="onActionItemHandler($event)"
                                            name="actionItemInput">
                            </geo-mat-input>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <div class="cela-actions">
                <geo-action [IsCloseButton]="true"
                            (CloseAction)="onCloseDialog()"
                            [IsActionButton]="true"
                            [ActionButtonText]="actionButtonText"
                            (GeoAction)="onAction()">
                </geo-action>
            </div>
        </form>
    </div>
</div>
