<div class="cela-dialog">
        <div class="header text-center  flex-xs-middle ">
          <span>{{ title }}</span>
          <button class="material-icons close-icon " (click)="onCloseDialog($event)">
            close
          </button>
          <div>{{ titleCountry }}</div>
        </div>
      
        <div class="cela-content">
          <form>
            <div class="container-data">
              <div class="row">
                <div class="col-sm-6">
                  <p>
                    <span>GeoHosting Owner: </span>
                    <span>{{ Owner }}</span>
                  </p>
                  <p>
                    <span>Scope: </span>
                    <span>{{ Scope }}</span>
                  </p>
                  <p>
                    <span>Assigned To: </span>
                    <span>{{ Assigned }}</span>
                  </p>
                </div>
                <div class="col-sm-6">
                  <p>
                    <span>Due Date: </span>
                    <span>3/25/2016</span>
                  </p>
                  <p>
                    <span>Priority: </span>
                    <span>{{ Priority }}</span>
                  </p>
                  <p>
                    <span>Completed Date: </span>
                    <span>5/31/2016</span>
                  </p>
                </div>
              </div>
            </div>
            <mat-card>
            <mat-card-content>
                    <div class="row">
                      <div class="col-sm-6">
                        <geo-mat-dropdown
                          [Title]="summaryCountryRiskLevel"
                          [InputTextArray]="RiskLevels"
                          [SelectedValue]="RiskLevel"
                          (OutputHandler)="onRiskLevel($event)"
                          id="summaryRiskLevelDropdown"
                        >
                        </geo-mat-dropdown>
                      </div>
                      <div class="col-sm-6"></div>
                    </div>
          
                    <mat-label
                      >Feedback Summary -
                      <i>Summarize feedback in 300 characters or less.</i></mat-label
                    >
                    <geo-mat-textarea
                      [labelTextAreaSummary]="feedbackSummaryLabel"
                      [input]="FeedbackSummary"
                      (summary)="onFeedbackSummary($event)"
                      name="detailsSummaryTextarea"
                    >
                    </geo-mat-textarea>

                    <mat-label>Are there any country-specific Action Items or Next Steps?</mat-label>
                    <div class="row">
                        <div class="specific-action">
                            <div class="row specific-items" *ngFor="let site of specificActionSites">
                                <div class="col-sm-3">
                                    <geo-mat-input  [labelGeoInput]="actionItemLabel"
                                                    [input]="site.actionItem"
                                                    (output)="onActionItemHandler($event)"
                                                    name="actionItemInput">
                                    </geo-mat-input>
                                </div>
                                <div class="col-sm-6">
                                    <geo-mat-textarea   [labelTextAreaSummary]="detailsSpecificLabel"
                                                        [input]="site.details"
                                                        [toolTip]="specificActionTooltip"
                                                        [toDisable]="false"
                                                        (summary)="onFeedbackSummaryHandler($event)"
                                                        name="detailsSummaryTextarea">
                                    </geo-mat-textarea>
                                </div>
                                <div class="col-sm-3">
                                    <geo-mat-input  [labelGeoInput]="contactsSummary"
                                                    [input]="site.contacts"
                                                    (output)="onContactsHandler($event)"
                                                    name="contactsInput">
                                    </geo-mat-input>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                            <div (click)="onAddSite($event)">
                                <i class="material-icons">arrow_drop_down</i>Add another site
                              </div>
                            <div class="col-sm-6"></div>
                        </div>

                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <h6>Details</h6>
                </mat-card-header>
    
                <mat-card-content>
                    <div class="col-sm-6">
                        <geo-mat-textarea   [labelTextAreaSummary]="generalRiskConsiderationsLabel"
                                            [input]="Details"
                                            (summary)="onSummary($event)"
                                            name="detailsSummaryTextarea">
                        </geo-mat-textarea>
                    </div>
                    <div class="col-sm-6"></div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <h6>Risks</h6>
                </mat-card-header>
    
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="exchangeTransferRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onExchangeTransferRisk($event)"
                                                id="summaryRiskLevelDropdown"
                                                [SelectedValue]="ExchangeTransferRisk">
                            </geo-mat-dropdown>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="supplyChainRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onsupplyChainRis($event)"
                                                id="summaryRiskLevelDropdown"
                                                [SelectedValue]="SupplyChainRisk"
                                                >
                            </geo-mat-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="sovereignNonPaymentRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onsovereignNonPaymentRisk($event)"
                                                [SelectedValue]="sovereignNonPaymentRisk"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="legalAndRegulatoryRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onLegalandRegulartoryRisk($event)"
                                                [SelectedValue]="LegalandRegulartoryRisk"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="politicalInterferenceRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onPoliticalRisk($event)"
                                                [SelectedValue]="PoliticalRisk"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                        <div class="col-sm-6">
                            <geo-mat-dropdown   [Title]="politicalViolenceRiskLabel"
                                                [InputTextArray]="RiskLevels"
                                                (OutputHandler)="onPoliticalViolenceRisk($event)"
                                                [SelectedValue]="PoliticalViolenceRisk"
                                                id="summaryRiskLevelDropdown">
                            </geo-mat-dropdown>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
    
            <mat-checkbox color="primary" [(ngModel)]="checkBox" name="chackedRisk">No changes in the risk level and Action Item</mat-checkbox>

    <div class="cela-actions">
      <geo-action
        [IsCloseButton]="true"
        (CloseAction)="onCloseDialog()"
        ActionButtonText="Save"
        CloseButtonText="Cancel"
        [IsActionButton]="showSave"
        (GeoAction)="onSave()"
      >
      </geo-action>
    </div>
  </form>
</div>
</div>

